@import "components/globals";
@import "components/navVita";
@import "components/cardPage";
@import "components/infNutri";
@import "components/famVita";
@import "components/footer";

.flex {
  display: flex;
  align-items: center;
  &--jc {
    display: flex;
    justify-content: center;
  }
}

.gradiant {
  display: block;
  width: 100%;
  height: 90vh;
  background: rgb(249, 230, 230);
  background: linear-gradient(
    180deg,
    rgba(249, 230, 230, 1) 0%,
    rgba(230, 169, 171, 1) 100%
  );
}

.strawberry {
  &__1 {
    position: absolute;
    width: min(75ch, 40%);
    height: 190px;
    top: -7vh;
    left: 60%;
    background-size: cover;
    background-image: url(../assets/imgs/strawberry_2.png);
  }

  &__2 {
    position: absolute;
    width: min(75ch, 17%);
    height: 125px;
    top: -10vh;
    right: 75%;
    transform: rotate(-50deg);
    background-size: cover;
    background-image: url(../assets/imgs/strawberry_5.png);
  }

  &__3 {
    position: absolute;
    width: min(75ch, 16%);
    height: 200px;
    top: 65vh;
    left: 80%;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-3.png);
  }

  &__4 {
    position: absolute;
    width: min(75ch, 8%);
    height: 320px;
    top: 65vh;
    left: 0;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-4.png);
  }

  &__5 {
    position: absolute;
    width: min(75ch, 16%);
    height: 120px;
    top: 35vh;
    left: 0;
    background-size: cover;
    background-image: url(../assets/imgs/strawberry_5.png);
  }

  &__6 {
    position: absolute;
    width: min(75ch, 11%);
    height: 240px;
    top: 20vh;
    right: 0;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-6.png);
  }

  &__7 {
    position: absolute;
    width: min(75ch, 11%);
    height: 170px;
    top: 103vh;
    left: 0;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-7.png);
    z-index: 1;
  }

  &__8 {
    position: absolute;
    width: min(75ch, 11%);
    height: 400px;
    top: -30vh;
    right: 0;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-8.png);
  }

  &__9 {
    position: absolute;
    width: min(75ch, 15%);
    height: 180px;
    top: -10vh;
    left: 15%;
    background-size: cover;
    background-image: url(../assets/imgs/fresas-9.png);
  }
}

.mt--3 {
  margin-top: -3rem;
}

@keyframes rotate {
  0% {
    transform: rotate(45deg);
  }
}

@keyframes translate {
  0% {
    transform: translate(100px, 100px);
  }
}

@keyframes skew {
  0% {
    // transform: translate(-100%);
    transform: skewX(15deg) translateX(-120px);
  }
}

@media (max-width: 350px) {
  .gradiant {
    height: 120vh;
  }
}

@media (max-width: 550px) {
  .strawberry {
    &__1 {
      top: 0;
    }
    &__2 {
      width: min(85ch, 50%);
      top: 13vh;
    }
    &__3 {
      top: 113vh;
      width: min(75ch, 27%);
      left: 73%;
    }
    &__4 {
      display: none;
    }
    &__5 {
      display: none;
    }
    &__6 {
      display: none;
    }
    &__7 {
      top: 60vh;
      width: min(75ch, 25%);
    }
    &__8 {
      display: none;
    }
    &__9 {
      display: none;
    }
  }
}
